<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="web/css/index.css" />
    <link rel="icon" href="#" />
  </head>
  <body>
    <div class="container">
      <ul class="news">
        <% for (let i = 0; i < filterItems.length; i++) { %>
        <li class="news__item">
          <img src="<%= filterItems[i].img %>" class="news__item-img" />
          <h3 class="news__item-title"><%= filterItems[i].title %></h3>
        </li>
        <% } %>
      </ul>

      <ol class="paginations">
        <% for (let i = 0; i < totalPages; i++) { %>
        <li class="pagination__item">
          <a
            href="/?page=<%= i %>"
            class="pagination__item-cell <%= i === page ? 'active' : '' %>"
          >
            <%= i + 1 %>
          </a>
        </li>
        <% } %>
      </ol>
    </div>

    <!-- <script src="https://s0.pstatp.com/cdn/expire-1-M/axios/0.19.0-beta.1/axios.min.js"></script> -->
    <!-- <script>
      (function() {
        'use strict';
        class News {
          constructor() {
            this.pageView = 5;
            this.data = [];
            this.init();
          }
          async init() {
            const data = await this.getData();
            const hash = parseInt(window.location.hash.slice(2));
            this.renderNews(
              {
                page: hash || 0
              },
              data
            );
            this.renderPaginations(
              {
                page: hash || 0
              },
              data
            );
            this.listenHash(data);
          }
          async getData() {
            const url = 'http://localhost:3000/data.json';
            const { data } = await axios.get(url);
            return data;
          }
          renderNews(options, data) {
            let el_news = document.querySelector('.news');
            const { page } = options;
            const startItem = page * this.pageView;
            const endItem = (page + 1) * this.pageView;
            const filterData = data.filter(
              (item, index) => index >= startItem && index < endItem
            );

            let html = '';
            filterData.forEach(item => {
              html += `
                <li class="news__item">
                  <img
                    src="${item.img}"
                    class="news__item-img"
                  />
                  <h3 class="news__item-title">${item.title}</h3>
                </li>
              `;
            });
            el_news.innerHTML = html;
          }
          renderPaginations(options, data) {
            let el_paginations = document.querySelector('.paginations');
            const { page } = options;
            console.log(page);
            const totalPage = Math.ceil(data.length / this.pageView);

            let html = '';
            for (let i = 0; i < totalPage; i++) {
              html += `
                <li class="pagination__item">
                  <a href="#/${i}" class="pagination__item-cell ${
                i === page ? 'active' : ''
              }">${i + 1}</a>
                </li>
              `;
            }
            el_paginations.innerHTML = html;
          }
          listenHash(data) {
            window.addEventListener('hashchange', () => {
              const hash = parseInt(window.location.hash.slice(2));
              this.renderNews(
                {
                  page: hash
                },
                data
              );
              this.renderPaginations(
                {
                  page: hash
                },
                data
              );
            });
          }
        }

        new News();
      })();
    </script> -->
  </body>
</html>
